<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mob.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @mob.race %>
</p>

<p>
  <strong>Type:</strong>
  <%= @mob.type %>
</p>

<p>
  <strong>Resist:</strong>
  <%= @mob.resist %>
</p>

<p>
  <strong>Immune:</strong>
  <%= @mob.immune %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @mob.attack %>
</p>

<p>
  <strong>Dmg:</strong>
  <%= @mob.dmg %>
</p>

<p>
  <strong>Str:</strong>
  <%= @mob.str %>
</p>

<p>
  <strong>Dex:</strong>
  <%= @mob.dex %>
</p>

<p>
  <strong>Con:</strong>
  <%= @mob.con %>
</p>

<p>
  <strong>Int:</strong>
  <%= @mob.int %>
</p>

<p>
  <strong>Wis:</strong>
  <%= @mob.wis %>
</p>

<p>
  <strong>Cha:</strong>
  <%= @mob.cha %>
</p>

<p>
  <strong>Strsv:</strong>
  <%= @mob.strsv %>
</p>

<p>
  <strong>Dexsv:</strong>
  <%= @mob.dexsv %>
</p>

<p>
  <strong>Consv:</strong>
  <%= @mob.consv %>
</p>

<p>
  <strong>Intsv:</strong>
  <%= @mob.intsv %>
</p>

<p>
  <strong>Wissv:</strong>
  <%= @mob.wissv %>
</p>

<p>
  <strong>Chasv:</strong>
  <%= @mob.chasv %>
</p>

<p>
  <strong>Init:</strong>
  <%= @mob.init %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @mob.ac %>
</p>

<p>
  <strong>Passins:</strong>
  <%= @mob.passins %>
</p>

<p>
  <strong>Passperc:</strong>
  <%= @mob.passperc %>
</p>

<p>
  <strong>Passinv:</strong>
  <%= @mob.passinv %>
</p>

<p>
  <strong>Profbonus:</strong>
  <%= @mob.profbonus %>
</p>

<p>
  <strong>Spells:</strong>
  <%= @mob.spells %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @mob.hp %>
</p>

<p>
  <strong>Cr:</strong>
  <%= @mob.cr %>
</p>

<%= link_to 'Edit', edit_mob_path(@mob) %> |
<%= link_to 'Back', mobs_path %>
