<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @player.race %>
</p>

<p>
  <strong>Str:</strong>
  <%= @player.str %>
</p>

<p>
  <strong>Dex:</strong>
  <%= @player.dex %>
</p>

<p>
  <strong>Con:</strong>
  <%= @player.con %>
</p>

<p>
  <strong>Int:</strong>
  <%= @player.int %>
</p>

<p>
  <strong>Wis:</strong>
  <%= @player.wis %>
</p>

<p>
  <strong>Cha:</strong>
  <%= @player.cha %>
</p>

<p>
  <strong>Strsv:</strong>
  <%= @player.strsv %>
</p>

<p>
  <strong>Dexsv:</strong>
  <%= @player.dexsv %>
</p>

<p>
  <strong>Consv:</strong>
  <%= @player.consv %>
</p>

<p>
  <strong>Intsv:</strong>
  <%= @player.intsv %>
</p>

<p>
  <strong>Wissv:</strong>
  <%= @player.wissv %>
</p>

<p>
  <strong>Chasv:</strong>
  <%= @player.chasv %>
</p>

<p>
  <strong>Init:</strong>
  <%= @player.init %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @player.ac %>
</p>

<p>
  <strong>Passins:</strong>
  <%= @player.passins %>
</p>

<p>
  <strong>Passperc:</strong>
  <%= @player.passperc %>
</p>

<p>
  <strong>Passinv:</strong>
  <%= @player.passinv %>
</p>

<p>
  <strong>Profbonus:</strong>
  <%= @player.profbonus %>
</p>

<p>
  <strong>Spells:</strong>
  <%= @player.spells %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @player.hp %>
</p>

<p>
  <strong>Lvl:</strong>
  <%= @player.lvl %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
